*{
    margin: 0;
    padding: 0;
}

.container-profile {
    margin-top: 4%;
    background-color: darkkhaki;
    margin-left: 30%;
    max-width: 43%;
    border-radius: 49px;
}

.container {
    margin-left: 3%;
}