.about_container {
  padding: 10% 15% 0 15%;
  padding: -50px;
  @media (max-width: 768px) {
    padding-top: 40%;
  }
}

.about_pic {
  border-radius: 5px;
}

.carousel {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  opacity: 0.9;
}

.carousel_img {
  width: 100%;
}

p {
  text-align: justify;
}

.about_title {
  padding: 20px 0;
}

.caption {
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
  margin-bottom: 20px;
}
