.contenedor-servicios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: cornsilk;
  color: black;
  box-shadow: inset;
  width: 100%;
  border: 1px solid grey;
}

.imagen-servicios {
  height: 100%;
  width: auto;
  border-radius: 5px;
  margin: 30px;
}

.contenedor-texto {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  width: 60%;
}

.nombre-servicio {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-shadow: 1.5px 1.5px 3px grey;
  @media (max-width: 768px) {
    margin: auto;
    text-align: center;
  }
}

.explicacion-servicio {
  padding: 10px;
}
