.contenedor-testimonio {
  width: 70%;
  margin: 10px 10px 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.6s ease;
}

.contenedor-testimonio:hover{
    box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px ;
}

.imagen-testimonio {
height: 150px;
  border-radius: 10px;
  margin: 20px;
}

.contenedor-texto-testimonio {
  font-weight: 400;
  line-height: 1.5rem;

}

.nombre-testimonio {
  font-size: 1.3rem;
  padding: 5px;
}

.edad-testimonio {
  font-size: 1.3rem;
  padding: 5px;
}

.texto-testimonio {
  font-size: 1.1rem;
  text-align: justify;
  padding: 5px;
}
