.Title{
    background-color: rgb(174, 165, 165);
    color: rgb(47, 58, 58);
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
}
.form{
    background-color: #ecedf1;
    text-align: center;
    width: 100%;
    padding: 55px;
}
.main-container{
  width: 90vw;
  max-width: 740px;
  height: 95vh;
  margin: 0 auto;
  padding: 1em;
  border-radius: 55px;
  background: #cdc2c2;
  display: flex;
  flex-wrap:nowrap;
  flex-direction: column;
}
.container-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 2rem;
}
::placeholder{
    color: rgb(50, 163, 163);
}
.container-radios{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 2rem;

}

.container-terms{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 2rem;
}

.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #0e3881;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px;
    transition: .8s;
}
.btn:disabled{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .8s;
}

.btn:hover{
    background-color: #576b87;
}