* {
  margin: 0;
  padding: 0;
}

.plantilla-register {
  padding-top: 10%;
  padding-bottom: 3%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  @media (max-width: 913px) {
    padding-top: 35%;
    padding-bottom: 18%;
  }
  @media (max-width: 821px) {
    padding-top: 30%;
    padding-bottom: 10%;
  }
  @media (max-width: 800px) {
    padding-top: 30%;
  }
  @media (max-width: 564px) {
    padding-top: 60%;
  }
  @media (max-width: 350px) {
    padding-top: 60%;
  }
}
.register_form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  @media (max-width: 768px) {
    width: 90%;
  }
}

.register_input {
  margin: 10px 0;
  width: 100%;
}

.register_input::placeholder {
  color: darkgoldenrod;
}

.register_title {
  text-align: center;
  padding-bottom: 50px;
}

.register_terms {
  color: darkgoldenrod;
  font-size: small;
}

.register_button {
  display: flex;
  justify-content: center;
}

.submit {
  width: 200px;
  height: px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: darkgoldenrod;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px;
  padding: 15px;
}
.submit:hover {
  background-color: darkkhaki;
}

.terms_label {
  width: 50%;
  background-color: white;
  border-radius: 15px;
  opacity: 0.7;
  margin: 5px;
  padding: 5px;
}
