*{
    margin: 0;
    padding: 0;
}

.planilla-register{
 text-align: center;
 min-width: 43vw;
  height: 37vh;
  margin: 1% 18%;
  padding: 1em;
  border-radius: 55px;
  background: #cdc2c2;
}

.submit{
    padding: 10px;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    outline: none;
    background: rgb(45, 30, 214) ;
    color: white;
    text-transform: capitalize;
    

}

.p{
    font-size: 14px;
    color:blue
    
}