.footer_nav {
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 50px;
  width: 100%;
  @media (max-width: 950px) {
    font-size: 8px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    font-size: 10px;
  }
}
.footer_list {
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.footer_list_element {
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  @media (max-width: 564px) {
    font-size: 8px;
  }
}
.footer_img {
  width: 30px;
  height: 30px;
  margin: 20px;
}
.footer_text {
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}
