* {
  margin: 0;
  padding: 0;
}

.title-login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  @media (max-width: 980px) {
    padding-top: 15%;
  }
  @media (max-width: 800px) {
    padding-top: 30%;
  }
  @media (max-width: 564px) {
    padding-top: 48%;
  }
  @media (max-width: 300px) {
    margin-top: 60%;
  }
}

.submit-login {
  width: 200px;
  height: px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: darkgoldenrod;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px;
  padding: 15px;
}

.submit-login:hover {
  background-color: darkkhaki;
}

.body-login {
  margin: 1% 18%;
  padding: 1em;
  border-radius: 55px;
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.redirect-login > a {
  text-decoration: none;
  color: black;
}

.redirect-login > a:hover {
  text-decoration: none;
  color: darkgoldenrod;
}

.register_link {
  display: flex;
  justify-content: center;
  color: black;
}

.login_text {
  color: gray;
  font-size: x-small;
  margin: 30px;
}

.login_input {
  width: 60%;
  margin: 10px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

.login_input::placeholder {
  color: darkgoldenrod;
}

.required {
  font-size: x-small;
  text-align: center;
  margin: 5px;
}
