* {
  margin: 0;
  padding: 0;
}

.title-login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  @media (max-width: 668px) {
    margin-top: 30%;
  }@media (max-width: 564px) {
    margin-top: 40%;
  }
}

.submit-login {
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  outline: none;
  background: darkgoldenrod;
  color: white;
  text-transform: capitalize;
  margin: auto;
  width: 100px;
}

.body-login {
  margin: 1% 18%;
  padding: 1em;
  border-radius: 55px;
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

.redirect-login > a {
  text-decoration: none;
}

.redirect-login > a:hover {
  text-decoration: none;
  color: darkgoldenrod;
}

.register_link{
  display: flex;
  justify-content: center;
  color: black;
}

.login_text{
  color: gray;
  font-size: x-small;
  margin: 30px;
}