* {
  margin: 0;
  padding: 0;
}

.button-nav {
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  outline: none;
  background: darkgoldenrod;
  color: white;
  text-transform: capitalize;
}

.menu-nav {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 10px;
  background-color: whitesmoke;
  width: 100%;
  border-bottom: 1px solid darkgoldenrod;
  position: fixed;
  top: 0;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.list-nav > a {
  color: black;
  text-decoration: none;
  padding: 20px;
}

.list-nav > a:hover {
  text-decoration: none;
  color: darkgoldenrod;
}

.logo {
  width: 50px;
  border-radius: 60px;
  margin: 10px;
}
